

<div ng-controller="homeCtrl">
    <div class='box-scene'>
        <div class='box'>
            <div class="top face">

            </div>
            <div class='front face'>

            </div>
            <div class="bottom face">

            </div>
            <div class="left face">

            </div>
            <div class="back inback face">
                <div class="rejilla">

                <div class="columna">
                    1

                </div>
                <div class="columna">
                        2
                </div>
                <div class="columna">
                        3
                </div>
                <div class="columna">
4
                </div>
                    <div class="columna">
5
                    </div>
                    <div class="columna">
6
                    </div>
                    <div class="columna">
7
                    </div>
                    <div class="columna">
8
                    </div>
                    <div class="columna">
9
                    </div>
                    <div class="columna">
10
                    </div>
                    <div class="columna">
11
                    </div>
                    <div class="columna">
12
                    </div>
                    <div class="columna">
13
                    </div>
                    <div class="columna">
14
                    </div>
                    <div class="columna">
15
                    </div>
                    <div class="columna">
16
                    </div>
                </div>

            </div>
            <div class="right face">

            </div>
        </div>
    </div>


    <a class="footerbtn" href="#" ng-click="rotateBox('box')">Girar</a>

</div>