<ion-content>
<div class="nav-menu">
    <div class="row">
       <div class="col"> <a ng-click="select()" href="#/puzzle/1" class="bkgreen"><i class="logobk"></i></a></div>
        <div class="col"> <a ng-click="select()" href="#/puzzle/2" class="bkred"><i class="logobk"></i></a></div>
        <div class="col"><a ng-click="nop($event)" class="bkblue locked"><i class="icon ion-locked "></i> </a></div>


    </div>

    <div class="row">
        <div class="col"> <a ng-click="nop($event)" class="col bkyellow locked"><i class="icon ion-locked "></i> </a></div>
            <div class="col"><a ng-click="nop($event)" class="col bkpurple locked"><i class="icon ion-locked "></i> </a></div>
                <div class="col"><a ng-click="nop($event)" class="col bkgreen locked"><i class="icon ion-locked "></i> </a></div>


    </div>

    <div class="row">
        <div class="col"> <a ng-click="nop($event)" class="col bkred locked"><i class="icon ion-locked "></i> </a></div>
            <div class="col"> <a ng-click="nop($event)" class="col bkblue locked"><i class="icon ion-locked "></i> </a></div>
                <div class="col"> <a ng-click="nop($event)" class="col bkyellow locked"><i class="icon ion-locked "></i> </a></div>


    </div>

    <div class="row">
        <div class="col">   <a ng-click="nop($event)" class="col bkpurple locked"><i class="icon ion-locked "></i> </a></div>
            <div class="col"> <a ng-click="nop($event)" class="col bkgreen locked"><i class="icon ion-locked "></i> </a></div>
                <div class="col"> <a ng-click="nop($event)" class="col bkred locked"><i class="icon ion-locked "></i> </a></div>
    </div>

    <div class="row">
        <div class="col"> <a ng-click="nop($event)" class="col bkblue locked"><i class="icon ion-locked "></i> </a></div>
            <div class="col"> <a ng-click="nop($event)" class="col bkyellow locked"><i class="icon ion-locked "></i> </a></div>
                <div class="col"><a ng-click="nop($event)" class="col bkpurple locked"><i class="icon ion-locked "></i> </a></div>
    </div>

</div>

</ion-content>
