<ion-content>
<div class="nav-menu">
    <div class="row">
        <a ng-click="select()" href="#/puzzle/1" class="col bkgreen"><i class="logobk"></i></a>
        <a ng-click="select()" href="#/puzzle/2" class="col bkred"><i class="logobk"></i></a>
        <a ng-click="nop()" class="col bkblue locked"><i class="icon ion-locked "></i> </a>


    </div>

    <div class="row">
        <a ng-click="nop()" class="col bkyellow locked"><i class="icon ion-locked "></i> </a>
        <a ng-click="nop()" class="col bkpurple locked"><i class="icon ion-locked "></i> </a>
        <a ng-click="nop()" class="col bkgreen locked"><i class="icon ion-locked "></i> </a>


    </div>

    <div class="row">
        <a ng-click="nop()" class="col bkred locked"><i class="icon ion-locked "></i> </a>
        <a ng-click="nop()" class="col bkblue locked"><i class="icon ion-locked "></i> </a>
        <a ng-click="nop()" class="col bkyellow locked"><i class="icon ion-locked "></i> </a>


    </div>

    <div class="row">
        <a ng-click="nop()" class="col bkpurple locked"><i class="icon ion-locked "></i> </a>
        <a ng-click="nop()" class="col bkgreen locked"><i class="icon ion-locked "></i> </a>
        <a ng-click="nop()" class="col bkred locked"><i class="icon ion-locked "></i> </a>
    </div>

    <div class="row">
        <a ng-click="nop()" class="col bkblue locked"><i class="icon ion-locked "></i> </a>
        <a ng-click="nop()" class="col bkyellow locked"><i class="icon ion-locked "></i> </a>
        <a ng-click="nop()" class="col bkpurple locked"><i class="icon ion-locked "></i> </a>
    </div>

</div>

</ion-content>
