<ion-content>

    <div class="carrusel">
    <ion-slide-box on-slide-changed="slideHasChanged($index)">
        <ion-slide>
            <div class="slideshow">
                <div class="howto tut1">
                </div>
                <h2>Para completar un nivel debes tapar todos los <span>huecos blancos</span> posibles de una cara del <span>cubo.</span>  </h2>
            </div>
        </ion-slide>
        <ion-slide>
            <div class="slideshow">
                <div class="howto tut2">
                </div>
                <h2>Luego gira el <span>cubo</span> (deslizando con el dedo fuera de él) </h2>
                </div>
        </ion-slide>
        <ion-slide>
            <div class="slideshow">
                <div class="howto tut3">
                </div>
                <h2>A continuación tapa los <span>huecos blancos</span> de esta nueva cara. </h2>
                </div>
        </ion-slide>
        <ion-slide>
            <div class="slideshow">
                <div class="howto tut4">
                </div>
                <h2>Conseguiras completar el nivel tapando todos los <span>huecos blancos</span> de ambas caras del cubo.</h2>
                <a class="btn" href="#/puzzle/1">OK</a>
                </div>
        </ion-slide>
    </ion-slide-box>
    </div>
</ion-content>
