

<div class="forth generalpuzzle" ng-controller="puzzleCtrl">
    <div class='box-scene' hm-swipe="rotateBox('box', $event)">
        <div class='box'>
            <div class='front face'>
                <div id="brick-15" class="brick-15 draggable">
                    <div class="square"></div>
                    <div class="square"></div>
                    <div class="square"></div>
                    <div class="square"></div>
                </div>

                <div id="brick-13" class="brick-13 draggable">
                    <div class="square"></div>
                    <div class="square"></div>
                </div>

                <div id="brick-7" class="brick-7 draggable">
                    <div class="square"></div>
                    <div class="square"></div>
                </div>
            </div>

            <div class='middle'>
                <div class="rejilla"></div>
                <div class="rejilla"></div>
                <div class="rejilla"></div>
                <div class="rejilla"></div>
                <div class="rejilla"></div>
                <div class="rejilla"></div>
                <div class="rejilla"></div>
                <div class="rejilla"></div>
                <div class="rejilla"></div>
                <div class="rejilla"></div>
                <div class="rejilla"></div>
                <div class="rejilla"></div>
                <div class="rejilla"></div>
                <div class="rejilla"></div>
                <div class="rejilla"></div>
                <div class="rejilla"></div>
            </div>

            <div class="back inback face">
                <div id="brick-16" class="brick-16 draggable">
                    <div class="square"></div>
                    <div class="square"></div>
                    <div class="square"></div>
                    <div class="square"></div>
                </div>

                <div id="brick-15" class="brick-15 draggable">
                    <div class="square"></div>
                    <div class="square"></div>
                    <div class="square"></div>
                    <div class="square"></div>
                </div>



            </div>
        </div>
    </div>



</div>
