

<div class="fivth generalpuzzle" ng-controller="puzzleCtrl">
    <div class='box-scene' hm-swipe="rotateBox('box', $event)">
        <div class='box'>
            <div class='front face'>
                <div id="brick-12" class="brick-12 draggable">
                    <div class="square"></div>
                    <div class="square"></div>
                    <div class="square"></div>
                </div>

                <div id="brick-7" class="brick-7 draggable">
                    <div class="square"></div>
                    <div class="square"></div>
                </div>

                <div id="brick-17" class="brick-17 draggable">
                    <div class="square"></div>
                    <div class="square"></div>
                    <div class="square"></div>
                    <div class="square"></div>
                </div>
            </div>

            <div class='middle'>
                <div class="rejilla"></div>
                <div class="rejilla"></div>
                <div class="rejilla"></div>
                <div class="rejilla"></div>
                <div class="rejilla"></div>
                <div class="rejilla"></div>
                <div class="rejilla"></div>
                <div class="rejilla"></div>
                <div class="rejilla"></div>
                <div class="rejilla"></div>
                <div class="rejilla"></div>
                <div class="rejilla"></div>
                <div class="rejilla"></div>
                <div class="rejilla"></div>
                <div class="rejilla"></div>
                <div class="rejilla"></div>
            </div>

            <div class="back inback face">
                <div id="brick-5" class="brick-5 draggable">
                    <div class="square"></div>
                    <div class="square"></div>
                    <div class="square"></div>
                    <div class="square"></div>
                </div>

                <div id="brick-10" class="brick-10 draggable">
                    <div class="square"></div>
                    <div class="square"></div>
                    <div class="square"></div>
                </div>



            </div>
        </div>
    </div>



</div>
