
<div class="tenth" ng-controller="puzzleCtrl">
    <div class='box-scene' on-swipe="rotateBox('box', $event)">
        <div class='box'>
            <div class='front face'>
                
                <div id="brick-22" class="draggable">
                    <div class="square"></div>
                    <div class="square"></div>
                    <div class="square"></div>
                    <div class="square"></div>
                </div>

                <div id="brick-25" class="draggable">
                    <div class="square"></div>
                    <div class="square"></div>
                    <div class="square"></div>
                    <div class="square"></div>
                </div>

            </div>

            <div class='middle'>
                <div class="rejilla"></div>
                <div class="rejilla"></div>
                <div class="rejilla"></div>
                <div class="rejilla"></div>
                <div class="rejilla"></div>
                <div class="rejilla"></div>
                <div class="rejilla"></div>
                <div class="rejilla"></div>
                <div class="rejilla"></div>
                <div class="rejilla"></div>
                <div class="rejilla"></div>
                <div class="rejilla"></div>
                <div class="rejilla"></div>
                <div class="rejilla"></div>
                <div class="rejilla"></div>
                <div class="rejilla"></div>
            </div>

            <div class="back inback face">
                <div id="brick-7" class="draggable">
                    <div class="square"></div>
                    <div class="square"></div>
                </div>

                <div id="brick-rep" class="draggable repi">
                    <div class="square rep"></div>
                    <div class="square rep"></div>
                </div>

                <div id="brick-21" class="draggable">
                    <div class="square"></div>
                    <div class="square"></div>
                    <div class="square"></div>
                    <div class="square"></div>
                </div>


            </div>
        </div>
    </div>



</div>