
<div class="twelve generalpuzzle" ng-controller="puzzleCtrl">
    <div class='box-scene' hm-swipe="rotateBox('box', $event)">
        <div class='box'>
            <div class='front face'>

                <div id="brick-17" class="brick-17 draggable">
                    <div class="square"></div>
                    <div class="square"></div>
                    <div class="square"></div>
                    <div class="square"></div>
                </div>

                <div id="brick-16" class="brick-16 draggable">
                    <div class="square"></div>
                    <div class="square"></div>
                    <div class="square"></div>
                    <div class="square"></div>
                </div>

            </div>

            <div class='middle'>
                <div class="rejilla"></div>
                <div class="rejilla"></div>
                <div class="rejilla"></div>
                <div class="rejilla"></div>
                <div class="rejilla"></div>
                <div class="rejilla"></div>
                <div class="rejilla"></div>
                <div class="rejilla"></div>
                <div class="rejilla"></div>
                <div class="rejilla"></div>
                <div class="rejilla"></div>
                <div class="rejilla"></div>
                <div class="rejilla"></div>
                <div class="rejilla"></div>
                <div class="rejilla"></div>
                <div class="rejilla"></div>
            </div>

            <div class="back inback face">
                <div id="brick-14" class="brick-14 draggable">
                    <div class="square"></div>
                    <div class="square"></div>
                    <div class="square"></div>
                    <div class="square"></div>
                </div>

                <div id="brick-26" class="brick-26 draggable">
                    <div class="square"></div>
                    <div class="square"></div>
                    <div class="square"></div>
                    <div class="square"></div>
                </div>



            </div>
        </div>
    </div>



</div>
