
<div class="elevn generalpuzzle" ng-controller="puzzleCtrl">
    <div class='box-scene' hm-swipe="rotateBox('box', $event)">
        <div class='box'>
            <div class='front face'>
                
                <div id="brick-22" class="draggable">
                    <div class="square"></div>
                    <div class="square"></div>
                    <div class="square"></div>
                    <div class="square"></div>
                </div>

                <div id="brick-2" class="draggable">
                    <div class="square"></div>
                </div>

                <div class="draggable repi">
                    <div class="square rep"></div>
                </div>

                <div class="draggable repirepi">
                    <div class="square reprep"></div>
                </div>

            </div>

            <div class='middle'>
                <div class="rejilla"></div>
                <div class="rejilla"></div>
                <div class="rejilla"></div>
                <div class="rejilla"></div>
                <div class="rejilla"></div>
                <div class="rejilla"></div>
                <div class="rejilla"></div>
                <div class="rejilla"></div>
                <div class="rejilla"></div>
                <div class="rejilla"></div>
                <div class="rejilla"></div>
                <div class="rejilla"></div>
                <div class="rejilla"></div>
                <div class="rejilla"></div>
                <div class="rejilla"></div>
                <div class="rejilla"></div>
            </div>

            <div class="back inback face">
                <div id="brick-25" class="draggable">
                    <div class="square"></div>
                    <div class="square"></div>
                    <div class="square"></div>
                    <div class="square"></div>
                </div>

                <div id="brick-12" class="draggable">
                    <div class="square"></div>
                    <div class="square"></div>
                    <div class="square"></div>
                </div>

                <div id="brick-13" class="draggable">
                    <div class="square"></div>
                    <div class="square"></div>
                </div>


            </div>
        </div>
    </div>



</div>