/*rotate box*/
body {
    background-color: #f3f3f3;
}
.box-scene {
    -webkit-perspective: 700;
    width: 100%;
    height: 300px;
    position: absolute;
    top: 20%;
}
.rotate {
    -webkit-transform: rotateY(-180deg);
}

.face {
    width: 280.4px;
    height: 280.4px;
    display: block;
    position: absolute;
}
.front {
    -webkit-transform: translateZ(1px);
    background-color: transparent;
    border: 10px solid #2b2b2b;

}


.back {
    background-color: transparent;
    -webkit-transform: translateZ(-1px);
    border: 10px solid #2b2b2b;


}



.rejilla {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.columna {
   width: 25%;
    height: 25%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}






/*btn footer*/
.footerbtn {
    display: block;
    text-decoration: none;
    font-size: 20px;
    background-color: #5f7c8a;
    padding: 10px;
    text-align: center;
    color: #fff;
    border-radius: 10px;
    width: 80%;
    position: absolute;
    bottom: 20%;
    left: 50%;
    margin-left: -40%;


}
.bar.bar-balanced.bar-footer,.bar-header {
    background-color: #363f45;
}

.swipArea {
    width: 100%;
    height: 30%;
    position: absolute;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.swipArea h2 {
   color: #e4e3e3;
}



/*FIGURAS*/

.figura {
    width: 65.09px;
    height: 65.09px;
    position: absolute;
}

.figura  {
    background-color: #c62828;
}


.figuraone {
    width: 130.18px;
    height: 130.18px;
    clear: both;
    position: absolute;
}
.figuraone .minibox {
 background-color: #e53935;
}


.figuratwo {
    width: 130.18px;
    height: 195.27px;
    clear: both;
    position: absolute;
}

.figuratwo .minibox {
    background-color: #d32f2f;
}

.figuratwo .minibox {
    position: relative;
    left: 65.09px;
}

.figuratwo .minibox:last-child {
   top: -65.09px ;
    left: 0px;
}


.figurathree {
     width: 195.27px;
     height: 130.18px;
     clear: both;
     position: absolute;
 }

.figurathree .minibox {
    float: right;
    background-color: #00897b;
}


.figurathree .minibox:last-child {
    position: relative;
    right: 65.09px;
}

.figurafour {
    width: 130.18px;;
    height: 130.18px;
    clear: both;
    position: absolute;
}

.figurafour .minibox {
    float: right;
    background-color: #00796b;
}

.figurafour .minibox:last-child {
    right: 65.09px;
    position: relative;
}

.back .figura .minibox  {
    background-color: #00695c;
}


.minibox {
    width: 65.09px;
    height: 65.09px;
    background-color: #f34235;
    transition: background-color 0.3s linear;
}

.inback .minibox {
    background-color: #2b2b2b!important;
}

/*FIGURAS POSITIONS*/

/*FIRST*/
.figuraone .minibox  {
    float: left;
}
.first .front .figura {
    left: 65.09px;
    top: 65.09px;
}

.first .front .figuratwo {
    left: 65.09px;
    top: 0px;
}

.first .back .figurathree {
    left: 65.09px;
    top: 65.09px;
}

.first .back .figura {
    right: 0px;
    top: 130.18px;
}

.first .back .figurafour  {
    top: 130.18px;
}




