/*rotate box*/
body {
    background-color: #f3f3f3;
}

/*Nav MENU*/
.home .bar-footer{
    display: none;
}
.logobk {
    display: block;
    width: 80%;
    height: 80%;
    background-image: url("../img/whitelogo.png");
    opacity: 0.1;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.footer {
    display: flex;
    align-items: center;
}

.ion-arrow-left-a {
    font-size: 2.4em;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 50%;
    margin-left: -15px;
}

.nav-menu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;
    padding: 0 15px 0 15px;
    position: absolute;
    top: 60px;
    width: 100%;
    height: 100%;

}

.nav-menu .col {
    height: 80px;
    margin-bottom: 8px;
}

.nav-menu .col a {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 5px solid #3f3b3a;
    padding: 5px;
}


.nav-menu .col i{
 font-size: 2em;
    color: #3f3b3a;
}


.nav-menu  .locked {
    background-color: #fff!important;
}

.bkgreen {
    background-color: #168c80;
}

.bkred {
    background-color: #f44336;
}

.bkblue {
    background-color: #03a9f4;
}

.bkyellow {
    background-color: #ffc107;
}

.bkpurple {
    background-color: #e040fb;
}



/*LEVELS*/
.box-scene {
    -webkit-perspective: 700;
    width: 100%;
    height: 100%;
    position: absolute;
}
.bar.bar-balanced.bar-footer, .bar-header {
    background-color: #fff;
}
.bar .title {
    color: #fff;
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 35px;
    top: 3px;
}
.rotate {
    -webkit-transform: rotateY(-180deg);
}

.sounds {
    position:absolute
}

.box {
    /*-webkit-transform-style: preserve-3d;*/
    -webkit-transition: all 0.3s ease-in-out;
    position: relative;
    width: 280px;
    height: 280px;
    top: 50%;
    left: 50%;
    margin-left: -140px;
    margin-top: -140px;
    border: 20px solid #3f3b3a;
}
.inback  {
    z-index: 1!important;
}
.inback .square {
    background-color: #3f3b3a!important;
    border: none;
}
.face {
    width: 240px;
    height: 240px;
    display: block;
    position: relative;
}
.middle {
    background-color: transparent;
    position: absolute;
    display: block;
    width: 240px;
    height: 240px;
    z-index: 5;
    top: 0px;
    clear: both;
}
.middle .rejilla {
    width: 60px;
    height: 60px;
    float: right;
}
.front {
    //*-webkit-transform: translateZ(1px);*/
    background-color: transparent;
    z-index: 10;
}
.back {
    position: absolute;
    z-index: 10;
    top: 0px;
    background-color: transparent;
    -webkit-transform: rotateY(-180deg);
    /*-webkit-transform: translateZ(-1px);*/
}

/*btn footer*/
.footerbtn {
    display: block;
    text-decoration: none;
    font-size: 20px;
    background-color: #5f7c8a;
    padding: 10px;
    text-align: center;
    color: #fff;
    border-radius: 10px;
    width: 80%;
    position: absolute;
    bottom: 20%;
    left: 50%;
    margin-left: -40%;
}
.bar.bar-balanced.bar-footer {
    background-color: #363f45;
    background-image: none;
}


.swipArea h2 {
   color: #e4e3e3;
}


/*FIGURAS*/
#brick-1 {
    position: absolute;
    top: 60px;
    width: 180px;
    height: 120px;
    clear: both;
}
.first #brick-1 .square {
    float: left;
    background-color: #00796b;
}
#brick-1 .square:last-child {
    position: absolute;
    top: 60px;
    left: 60px;
}

#brick-2 {
    position: absolute;
    top: 120px;
    width: 60px;
    height: 60px;
    z-index: 9999;
}
.first #brick-2 .square {
  background-color: #009688;
}
#brick-3  {
    position: absolute;
    left: 120px;
    top: 120px;
    width: 60px;
    height: 120px
}
.first #brick-3 .square {
    float: left;
    background-color: #00897b;
}
#brick-3 .square:last-child {
    position: absolute;
    top: 60px;
    left: -60px;
}
.square {
    width: 60px;
    height: 60px;
    transition: all 0.2s ease-in-out;
}
.draggable {
    transition: all 0.1s ease-in-out;
}

#brick-4  {
    width: 120px;
    height: 120px;
    clear: both;
}

#brick-4 .square  {
   float: left;
}

 .first #brick-4 .square {
   background-color: #00897b;
}

.first .back #brick-6  {
    position: absolute;
    top: 60px;
    left: 60px;
}

.first .back #brick-6 .square {
    background-color: #009688;
}

#brick-5 {
    width: 60px;
    height: 180px;
    position: absolute;
    top: 0px;
    left: 120px;
}

#brick-5 .square {
    background-color:#00796b ;
}

#brick-5 .square:last-child {
    position: relative;
    left: -60px;
    top: -60px;
}

.back-menu {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;

}

#brick-7  {
    width: 120px;
    height: 60px;
    clear: both;
    position: relative;
    z-index: 9998;
}

#brick-7 .square  {
    float: left;
}

#brick-9 {
    width: 180px;
    height: 60px;
}

#brick-9 .square {
   float: left;
}

#brick-8  {
    width: 60px;
    height: 180px;
}

#brick-10  {
    width: 60px;
    height: 120px;
    clear: both;
}

#brick-10  {
    position: relative;
}

#brick-10   {
    float: left;
    position: relative;
}

#brick-10 .square:nth-child(2)  {
    position: absolute;
    top: 60px;
    left: 60px;
}

#brick-11  {
    width: 180px;
    height: 120px;
    position: relative;
}

#brick-11 .square  {
   float: left;
}

#brick-11 .square:nth-child(2) {
    position: absolute;
    right: 60px;
    top: 60px;
}

#brick-11 .square:last-child  {
    position: absolute;
    right: 0px;
    top: 60px;
}

#brick-12  {
    width: 120px;
    height: 120px;
    position: relative;
}

#brick-12 .square  {
    float: left;
}

#brick-12 .square:last-child  {
    position: absolute;
    right: 0px;
    top: 60px;
}

#brick-13  {
    width: 60px;
    height: 120px;
    position: absolute;
    z-index: 9997;
}

#brick-14  {
    width: 180px;
    height: 60px;
    position: relative;
}

#brick-14 .square  {
    float: left;
}

#brick-14 .square:last-child  {
    position: absolute;
    right: 0px;
    top: -60px;
}

#brick-15 {
    clear: both;
    width: 120px;
    height: 120px;
}

#brick-15 .square{
    float: right;
}

#brick-16 {
    clear: both;
    width: 180px;
    height: 60px;
}
#brick-16 .square {
    float: left;
}

#brick-17 {
    clear: both;
    width: 180px;
    position: relative;
}
#brick-17 .square {
    float: left;
}

#brick-17 .square:last-child {
    position: absolute;
    right: 0px;
    top: 60px;
}


#brick-18 {
   position: relative;
    width: 120px;
    clear: both;
}

#brick-18 .square {
    float: left;
}

#brick-19 {
    position: relative;
}

#brick-19 .square {
   float: left;
}

#brick-19 .square:first-child {
    position: absolute;
    left: -60px;
    top: 60px;
}

#brick-19 .square:nth-child(2) {
    position: absolute;
    left: 0px;
    top: 60px;
}

#brick-20 {
    position: relative;
    width: 60px;
    height: 180px;
}
#brick-20 .square:last-child {
    position: absolute;
    bottom: 0px;
    left: 60px;
}

#brick-21 {
    position: relative;
    width: 60px;
    height: 180px;
}

#brick-21 .square:last-child {
    position: absolute;
    bottom: 60px;
    left: -60px;
}

#brick-22 {
    position: relative;
    width: 120px;
    height: 180px;
}

#brick-22 .square{
   position: relative;
    left: 60px;
}

#brick-22 .square:first-child{
    position: absolute;
    left: 0px;
}

#brick-23 {
    position: relative;
    width: 120px;
    height: 180px;
    clear: both;
}

#brick-23 .square {
    float: left;
}

#brick-23 .square:first-child {
    position: absolute;
    top: 0px;
    left: 60px;
}

#brick-23 .square:last-child{
    position: absolute;
    top: 120px;
    bottom: 0px;
}

#brick-23 .square:nth-child(2){
    position: absolute;
    top: 60px;
    left: 0px;
}

#brick-23 .square:nth-child(3){
    position: absolute;
    top: 60px;
    right: 0px;
}

#brick-24 {
    position: relative;
    width: 180px;
    height: 180px;
    clear: both;
}

#brick-24 .square {
   float: left;
}

#brick-24 .square {
    position: relative;
    top: 120px;
}

#brick-24 .square:last-child{
    position: absolute;
    top: 0px;
    right: 0px;
}

#brick-24 .square:nth-child(4){
    position: absolute;
    top: 60px;
    right: 0px;
}


#brick-25 {
    position: relative;
    width: 180px;
    clear: both;
    height: 120px;
}

#brick-25 .square {
     float: left;
    position: relative;
    top: 60px;
 }

#brick-25 .square:nth-child(2) {
   position: absolute;
    top: 0px;
    left: 60px;
}

#brick-26 {
    position: relative;
    width: 180px;
    height: 120px;
    clear: both;
}

#brick-26 .square {
   float: left;
    position: relative;
    top: 60px;
}

#brick-26 .square:first-child {
    position: absolute;
    top: 0px;
    left: 0px;
}

#brick-27 {
    position: relative;
    width: 180px;
    height: 120px;
    clear: both;
}

#brick-27 .square {
    float: left;
}

#brick-27 .square:last-child {
    position: absolute;
    right: 0px;
    top: 60px;
}

#brick-28 {
    position: absolute;
    top: 60px;
    width: 120px;
    height: 180px;
    clear: both;
}
.first #brick-28 .square {
    float: left;
}
#brick-28 .square:last-child {
    position: absolute;
    top: 60px;
    left: 60px;
}


/*SECOND FIGURE*/

/*.second .inback .square {*/
    /*background-color: #4c1111!important;*/
    /*border: none;*/
/*}*/

.second #brick-28 {
    position: absolute;
    left: 60px;
}

.second #brick-28 .square {
    background-color:#f44336 ;
}

.second #brick-7 .square {
    background-color:#e53935 ;
}

.second #brick-8 .square {
    background-color:#d32f2f ;
}


.second #brick-7  {
   position: absolute;
    right: 0px;
}

.second #brick-8  {
    position: absolute;
    top: 60px;
}

.second #brick-2  {
  position: absolute;
    right: 0px;
}

.second #brick-9 .square {
    background-color:#f44336 ;
}

.second #brick-2 .square {
    background-color:#e53935 ;
}


.second #brick-10 .square{
     background-color:#d32f2f;
 }

.bar.bar-balanced.bar-footer {
background-color: #fff;
    padding: 0px;
}


/*THERD*/

/*.third .inback .square {*/
    /*background-color: #073961!important;*/
    /*border: none;*/
/*}*/

.third #brick-11  {
    position: absolute;
    right: 0px;
    top: 0px;
}

.third #brick-11 .square {
    background-color:#03a9f4 ;
}

.third #brick-12  {
  position: absolute;
    left: 0px;
    bottom: 0px;
}

.third .back #brick-12  {
    position: absolute;
    left: 0px;
    top: 60px;
}

.third #brick-12 .square {
    background-color:#0288d1 ;
}

.third #brick-13  {
   position: absolute;
    left: 180px;
    top: 0px;
}

.third #brick-13 .square {
    background-color:#0277bd ;
}

.third #brick-14  {
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.third #brick-14 .square {
    background-color:#039be5 ;
}

/*FOURTH*/
/*.forth .inback .square {*/
    /*background-color: #4a3a08!important;*/
    /*border: none;*/
/*}*/

.forth #brick-15 {
   position: absolute;
    left: 0px;
    top: 60px;
}

.forth #brick-15 .square {
    background-color:#ffc107 ;
}

.forth #brick-13  {
    position: absolute;
    left: 120px;
    top: 60px
}

.forth #brick-13 .square {
    background-color:#ffa000 ;
}

.forth #brick-7  {
    position: absolute;
    right: 0px;
    top: 0px
}

.forth #brick-7 .square {
    background-color:#ffb300 ;
}

.forth #brick-16 {
    position: absolute;
    right: 0px;
    top: 0px
}

.forth #brick-16 .square {
    background-color:#ff8f00 ;
}

.forth .back #brick-15  {
    position: absolute;
    left: 120px;
}


/*FIFTH*/

/*.fivth .inback .square {*/
    /*background-color: #1f1138!important;*/
    /*border: none;*/
/*}*/

.fivth #brick-12  {
   position: absolute;
    left: 60px;
}

.fivth #brick-12 .square {
    background-color: #e040fb;
}

.fivth #brick-7  {
    position: absolute;
    top: 60px;
}

.fivth #brick-7 .square {
    background-color: #d500f9;
}

.fivth #brick-17  {
    position: absolute;
    top: 120px;
}

.fivth #brick-17 .square {
    background-color: #aa00ff;
}

.fivth #brick-5 .square {
    background-color: #aa00ff;
}

.fivth #brick-10 .square {
    background-color: #d500f9;
}

/*sisxth*/

/*.sisxth .inback .square {*/
    /*background-color: #04413a!important;*/
    /*border: none;*/
/*}*/

.sisxth #brick-12  {
    position: absolute;
    top: 0px;
    right: 0px;
}

.sisxth #brick-12 .square {
    background-color: #00796b;
}

.sisxth #brick-7  {
    position: absolute;
    top: 0px;
}

.sisxth #brick-7 .square {
    background-color: #009688;
}

.sisxth #brick-2  {
    position: absolute;
    top: 60px;
    left: 60px;
}

.sisxth #brick-2 .square {
    background-color: #00897b;
}

.sisxth #brick-16  {
    position: absolute;
    bottom: 60px;

}

.sisxth #brick-16 .square {
    background-color: #00695c;
}

.sisxth #brick-3  {
   position: absolute;
    top: 0px;
}

.sisxth #brick-3 .square {
    background-color: #00796b;
}

.sisxth .repi  {
    position: absolute;
    top: 120px!important;
    left: 60px!important;
}

.sisxth #brick-3 .rep {
    background-color: #00695c;
}


/*SEVENTH*/

/*.seventh .inback .square {*/
    /*background-color: #4c1111!important;*/
    /*border: none;*/
/*}*/

.seventh #brick-19  {
    position: absolute;
    right: 0px;
    top: 60px;
}

.seventh #brick-19 .square {
    background-color:#f44336 ;
}

.seventh #brick-2  {
    position: absolute;
    left: 60px;
    top: 60px;
}

.seventh #brick-2 .square {
    background-color:#e53935 ;
}

.seventh .repi  {
    position: absolute;
    right: 0px;
    top: 120px;
}

.seventh .repi .rep {
    background-color:#d32f2f!important;
}

.seventh #brick-20  {
    position: absolute;
    left: 0px;
    top: 60px;
}

.seventh #brick-20 .square {
    background-color:#f44336 ;
}

.seventh #brick-21  {
    position: absolute;
    right: 0px;
    top: 0px;
}

.seventh #brick-21 .square {
    background-color:#d32f2f ;
}

.seventh #brick-7  {
    position: absolute;
    right: 60px;
    top: 120px;
}

.seventh #brick-7 .square {
    background-color:#e53935 ;
}



/*EIGHT*/

/*.eight .inback .square {*/
    /*background-color: #073961!important;*/
    /*border: none;*/
/*}*/

.eight #brick-7  {
    position: absolute;
    top: 60px;
    left: 0px;
}

.eight #brick-7 .square {
    background-color:#03a9f4 ;
}

.eight #brick-18  {
    position: absolute;
    bottom: 0px;
    right: 60px;
}

.eight #brick-18 .square {
    background-color:#0288d1 ;
}

.eight #brick-22  {
    position: absolute;
    top: 60px;
    right: 0px;
}


.eight #brick-22 .square {
    background-color:#0277bd ;
}

.eight #brick-3  {
    position: absolute;
    top: 0px;
    left: 60px;
}

.eight #brick-3 .square {
    background-color:#03a9f4 ;
}

.eight #brick-23  {
    position: absolute;
    top: 60px;
    right: 0px;
}

.eight #brick-23 .square {
    background-color:#0277bd ;
}



/*NINTH*/
/*.ninth .inback .square {*/
    /*background-color: #4a3a08!important;*/
/*}*/
.ninth #brick-18  {
    position: absolute;
    top: 0px;
    right: 60px;
}

.ninth #brick-18 .square {
    background-color:#ffc107 ;
}

.ninth #brick-24  {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.ninth #brick-24 .square {
    background-color:#ffa000 ;
}

.ninth #brick-12  {
    position: absolute;
    top: 0px;
    right: 0px;
}

.ninth #brick-12 .square {
    background-color:#ffa000 ;
}

.ninth #brick-2  {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.ninth #brick-2 .square {
    background-color:#ffa000 ;
}

.ninth #brick-2  {
    position: absolute;
    top: 180px;
    right: 0px;
}

.ninth #brick-15  {
    position: absolute;
    top: 0px;
    left: 0px;
}

.ninth #brick-15 .square {
    background-color:#ffb300 ;
}


/*TENTH*/
/*.tenth .inback .square {*/
    /*background-color: #1f1138!important;*/
/*}*/

.tenth #brick-22  {
    position: absolute;
    top: 0px;
    right: 0px;
}
.tenth #brick-22 .square {
    background-color:#e040fb ;
}

.tenth #brick-25 .square {
    background-color:#d500f9 ;
}

.tenth #brick-7  {
    position: absolute;
    bottom: 60px;
    right: 60px;
}

.tenth #brick-7 .square {
    background-color:#aa00ff ;
}


.tenth .repi  {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 120px;
    height: 60px;
}

.tenth .repi .rep {
    background-color:#e040fb ;
    float: right;
}


.tenth #brick-21  {
    position: absolute;
    top: 0px;
    right: 0px;
}

.tenth #brick-21 .square {
    background-color:#d500f9 ;
}



/*ELEVENTH*/

/*.elevn .inback .square {*/
    /*background-color: #04413a!important;*/
    /*border: none;*/
/*}*/

.elevn #brick-22  {
    position: absolute;
    top: 60px;
    right: 0px;
}

.elevn  #brick-22 .square{
    background-color:#00796b ;
}

.elevn #brick-2  {
    position: absolute;
    top: 0px;
    right: 0px;
}

.elevn  #brick-2 .square{
    background-color:#009688 ;
}

.elevn  .repi {
    position: absolute;
    bottom: 0px;
    right: 60px;
}

.elevn  .repi .rep{
    background-color:#00897b ;
}

.elevn .repirepi {
    position: absolute;
    bottom: 60px;
    right: 60px;
}

.elevn .repirepi .reprep{
    background-color:#00695c ;
}


.elevn  #brick-25 .square{
    background-color:#00796b ;
}

.elevn #brick-12 {
    position: absolute;
    bottom: 0px;
    right: 60px;
}

.elevn  #brick-12 .square{
    background-color:#00897b ;
}

.elevn #brick-13 {
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.elevn  #brick-13 .square{
    background-color:#00695c ;
}




/*TWELW*/

/*.twelve .inback .square {*/
    /*background-color: #4c1111!important;*/
    /*border: none;*/
/*}*/

.twelve #brick-14 {
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.twelve  #brick-17 .square{
    background-color:#f44336 ;
}

.twelve #brick-16 {
    position: absolute;
    bottom: 60px;
    left: 0px;
}

.twelve  #brick-16 .square{
    background-color:#e53935 ;
}

.twelve  #brick-14 .square{
    background-color:#d32f2f ;
}

.twelve #brick-26 {
    position: absolute;
    top: 0px;
    right: 0px;
}

.twelve  #brick-26 .square{
    background-color:#e53935 ;
}

/*thirty*/
/*.thirty .inback .square {*/
    /*background-color: #073961!important;*/
    /*border: none;*/
/*}*/

.thirty #brick-13 {
    position: absolute;
    top: 0px;
    left: 0px;
}

.thirty  #brick-13 .square{
    background-color:#03a9f4 ;
}

.thirty #brick-3 {
    position: absolute;
    top: 0px;
    left: 180px;
}

.thirty  #brick-3 .square{
    background-color:#0288d1 ;
}

.thirty #brick-23 {
    position: absolute;
    top: 60px;
    left: 0px;
}

.thirty  #brick-23 .square{
    background-color:#0277bd ;
}

.thirty #brick-18 {
    position: absolute;
    top: 0px;
    right: 0px;
}

.thirty  #brick-18 .square{
    background-color:#0277bd ;
}

.thirty #brick-15 {
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.thirty  #brick-15 .square{
    background-color:#03a9f4 ;
}


/*fourty*/

/*.fourty .inback .square {*/
    /*background-color: #4a3a08!important;*/
/*}*/


.fourty #brick-14 {
    position: absolute;
    top: 120px;
    left: 0px;
}
.fourty  #brick-14 .square{
      background-color:#ffc107 ;
  }


.fourty  #brick-12 .square{
    background-color:#ffa000 ;
}

.fourty #brick-3 {
    position: absolute;
    bottom: 0px;
    left: 180px;
}

.fourty  #brick-3 .square{
    background-color:#ffa000 ;
}

.fourty #brick-2 {
    position: absolute;
    bottom: 60px;
    left: 60px;
}


.fourty  #brick-2 .square{
    background-color:#ffc107 ;
}

.fourty .back #brick-12 {
    position: absolute;
    top: 60px;
    left: 60px;
}

.fourty  #brick-12 .square{
    background-color:#ffa000 ;
}

.fourty #brick-13 {
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.fourty  #brick-13 .square{
    background-color:#ffa000 ;
}



/*fifthty*/
/*TENTH*/
/*.fifthty .inback .square {*/
    /*background-color: #1f1138!important;*/
/*}*/

.fifthty #brick-13 {
    position: absolute;
    top: 0px;
    left: 120px;
}

.fifthty  #brick-13 .square{
    background-color:#e040fb ;
}

.fifthty #brick-27 {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.fifthty  #brick-27 .square{
    background-color:#d500f9 ;
}


.fifthty #brick-3 {
    position: absolute;
    top: 0px;
    right: 60px;
}

.fifthty  #brick-3 .square{
    background-color:#aa00ff ;
}

.fifthty .back #brick-13 {
    position: absolute;
    top: 120px;
    left: 0px;
}

.fifthty  #brick-13 .square{
    background-color:#e040fb ;
}

.fifthty #brick-23 {
    position: absolute;
    top: 60px;
    right: 0px;
}

.fifthty  #brick-23 .square{
    background-color:#d500f9 ;
}
